.bg-signup {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.auth__wrapper {
    min-height: 100vh;
}

.auth__form {

    h2 {
        max-width: 768px;
        text-align: center;
    }

    .auth {
        margin: 4rem auto;
        max-width: 400px;
        flex-direction: column;
        overflow: hidden;

        .google {
            @extend %btn;
            width: 100%;
            background-color: $clr-error;
            text-align: center;
        }

        %pseudo {
            content: '';
            position: absolute;
            width: 40%;
            border: 1px solid;
            top: 50%;
            transform: translateY(-50%);
            color: rgba(255, 255, 255, 0.151);
        }

        .txt-secondary {
            position: relative;

            &::before {
                @extend %pseudo;
                left: -45%;
            }

            &::after {
                @extend %pseudo;
                right: -45%;
            }
        }

        .form__input-wrapper {
            width: 100%;
            margin: 1rem 0;
            row-gap: 4px;

            &:nth-child(6) {
                margin: 0 0 1rem 0;
            }

            label {
                font-family: $ff-medium;
                font-size: $fs-small;
            }

            input {
                padding: .75rem 1rem;
                background-color: transparent;
                border: 1px solid rgba(255, 255, 255, 0.151);
                border-radius: 4px;
                outline: none;
            }
        }

        input[type=submit] {
            width: 100%;
            border: none;
            cursor: pointer;
        }

        .check-input {
            justify-content: space-between;
            
        }
    }

    .already-registered {
        display: block;
        text-align: center;
        
        a {
            color: $clr-primary;
        }
    }
}