$ff-regular: 'Inter', sans-serif;
$ff-medium: 'Inter medium', sans-serif;
$ff-bold: 'Inter bold', sans-serif;
$ff-cursive: 'architect', cursive;

$fs-small: 0.875rem;
$fs-regular: 1rem;
$fs-medium: 1.25rem;
$fs-big: 1.5rem;
$fs-xl: 2rem;
$fs-xxl: 2.5rem;

$clr-primary: #5D5DFF;
$clr-secondary: #33363A;
$clr-dark: #25282C;
$clr-light: #C5D2DC;
$clr-light-fade: #9BA9B4;
$clr-success-light: #C6F6D5;
$clr-success: #36A269;
