// Variables
$ff-regular: 'Inter', sans-serif;
$ff-medium: 'Inter medium', sans-serif;
$ff-bold: 'Inter bold', sans-serif;
$ff-cursive: 'architect', cursive;

$fs-small: 0.875rem;
$fs-regular: 1rem;
$fs-medium: 1.25rem;
$fs-big: 1.5rem;
$fs-xl: 2rem;
$fs-xxl: 2.5rem;

$clr-primary: #5D5DFF;
$clr-secondary: #33363A;
$clr-dark: #25282C;
$clr-light: #C5D2DC;
$clr-light-fade: #9BA9B4;
$clr-success-light: #C6F6D5;
$clr-success: #36A269;

@import 'fonts';
@import 'https://unpkg.com/swiper/swiper-bundle.min.css';

// reset css
*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: $ff-regular;
    color: $clr-light;
    // outline: 1px solid green;
}

@import 'utilities';

a {
    color: inherit;
}

body {
    background-color: #17181a;
}

// header styles
.header .container {
    position: relative;

    .bg-header {
        position: absolute;
        top: -4rem;
        right: -1rem;
        z-index: -1;
    }
}
.header .wrapper {
    justify-content: space-between;
    
    .header__menu {
        gap: 3rem;
        color: $clr-light;
        text-transform: capitalize;
    }
}

// hero section styles
.hero {
    gap: 4rem;

    &__primary {
        text-align: center;

        h2 {
            font-size: 3.25rem;
        }
    }

    &__buttons {
        gap: .75rem;

        .btn-primary,
        .btn-secondary {
            padding: .75rem 2rem;
        }
    }

    &__secondary {
        position: relative;

        img {
            width: 100%;
            border-radius: .5rem;
            object-fit: cover;
        }

        .bg-main {
            position: absolute;
            bottom: -2rem;
            left: -6rem;
            width: 40%;
            z-index: -1;
        }
    }
}

// features styles
.features {
    gap: 4rem;

    &__primary {
        text-align: center;
    }

    &__secondary {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 64px;

        .grid-item {
            flex-direction: column;
            text-align: center;
        }
        
        .item__icon {
            padding: 1.25rem;
            border-radius: 50%;
        }

        p {
            max-width: 326px;
        }
    }
}

// procut styles
.product {
    gap: 4rem;

    &::before,&::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: #c5d2dc42;
    }

    &__primary {
        text-align: center;

        &-success {
            display: inline-block;
            padding: 4px 12px;
            background-color: $clr-success-light;
            border-radius: 1rem;
            font-family: $ff-medium;
            color: $clr-success;
            font-size: $fs-small;
        }
    }

    &__secondary {
        gap: 4rem;

        &-item {
            gap: 2.5rem;
        }

        .cursive-heading {
            font-family: $ff-cursive;
            font-size: $fs-medium;
            color: $clr-primary;
        }

        .bullet-points__item {
            justify-content: flex-start;
            gap: .5rem;
            
        }
    }
}

// feedback styles
.feedback {
    gap: 4rem;

    &__primary {
        text-align: center;
    }

    .swiper {
        width: 100%;
        
        &-pagination {
            bottom: 0rem;
        }
    }

    .swiper-slide {
        @extend %card;

        .swiper-icon {
            max-width: 48px;
            max-height: 48px;
        }

        hr {
            border: 1px solid #9ba9b438;
        }
    }

    .swiper-heading {
        @extend %heading;

        span {
            color: $clr-primary;
        }
    }
}
// subscribe styles
.subscribe {
    position: relative;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    background-color: $clr-primary;

    &__secondary {
        gap: .5rem;

        input[type=email] {
            @extend %btn;
            outline: 1px $clr-light solid;
            border: none;
            background-color: transparent;
        }

        input[type=submit] {
            @extend %btn;
            font-family: $fs-medium;
            color: $clr-primary;
            border: none;
        }

        ::placeholder {
            color: #ABABFF;
        }
    }

    .form-bg {
        position: absolute;
        top: 0;
        right: 0;
        pointer-events: none;
    }
}

@import 'media';